# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. python
2. R
3. SQL

# one of the commonly used libraries used by Data Scientists include:

1. numpy
2. pamdas
3. matplotlib

Data Science Tools
------------------
1. Jupyter Notebooks
2.RStudio
3. Anaconda
4. Tableau
5. Apache Spark
6. TensorFlow
7. PyTorch
8. Git and GitHub
9. Docker

## Introducing arithmetic expression example 
### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [4]:
#This will convert 200 minutes to hours by diving by 60

print(200.0//60.0)

3.0

# Some of the key takeaways from the course

**Objectives**:

- Python
- R
- SQL
- Julia
- Scala

### AUTHOR
A.JAVID